In [1]:
#Additionally I want to map out where nonprofits are in LA County
# to import data from LA Data portal
from sodapy import Socrata
import pandas as pd
import geopandas as gpd

/opt/conda/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.1-CAPI-1.13.3) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [ ]:
# connect to the data portal
client = Socrata("data.lacity.org", None)

results = client.get("bmis-9v3h", 
                     limit=50000)
# Convert to pandas DataFrame
nonprofits = pd.DataFrame.from_records(results)

In [17]:
# https://data.lacity.org/resource/bmis-9v3h.json

In [3]:
#This is what the data looks like
#We need to clean this up
#The data ended up transferring over more split then it should
nonprofits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   zip_code                     50000 non-null  object
 1   :@computed_region_qz3q_ghft  47974 non-null  object
 2   :@computed_region_k96s_3jcv  44956 non-null  object
 3   city                         50000 non-null  object
 4   :@computed_region_kqwf_mjcx  39177 non-null  object
 5   business_name                50000 non-null  object
 6   :@computed_region_2dna_qi2s  37828 non-null  object
 7   naics                        48281 non-null  object
 8   primary_naics_description    48281 non-null  object
 9   location_description         50000 non-null  object
 10  :@computed_region_tatf_ua23  40716 non-null  object
 11  street_address               50000 non-null  object
 12  location_start_date          48487 non-null  object
 13  location_account             50000 non-null  object
 14  council_district             50000 non-null  object
 15  location_1                   48454 non-null  object
 16  mailing_city                 22790 non-null  object
 17  mailing_zip_code             22787 non-null  object
 18  mailing_address              22788 non-null  object
 19  :@computed_region_ur2y_g4cx  14175 non-null  object
 20  dba_name                     22200 non-null  object
dtypes: object(21)
memory usage: 8.0+ MB

In [4]:
nonprofits.shape

(50000, 21)

In [5]:
nonprofits.info

<bound method DataFrame.info of          zip_code :@computed_region_qz3q_ghft :@computed_region_k96s_3jcv  \
0      90019-6037                       23080                         648
1      90272-4350                         NaN                         NaN
2      90003-4805                       22351                         806
3      90017-2394                       23078                         564
4      90037-3211                       23668                         737
...           ...                         ...                         ...
49995  90019-6116                       23080                         649
49996  90044-1339                       23675                        2000
49997  90291-3716                       25073                         909
49998  91436-3419                       19737                         339
49999  91304-3328                        4279                          92

                    city :@computed_region_kqwf_mjcx  \
0            LOS ANGELES                          12
1      PACIFIC PALISADES                         NaN
2            LOS ANGELES                          14
3            LOS ANGELES                          11
4            LOS ANGELES                          13
...                  ...                         ...
49995        LOS ANGELES                          12
49996        LOS ANGELES                         NaN
49997             VENICE                          10
49998             ENCINO                           6
49999        CANOGA PARK                           2

                                       business_name  \
0                     PALACE OF VENICE GUEST HOME /C
1                                   VINCENZO LABELLA
2           WILCARE ECONOMIC DEVELOPMENT CORPORATION
3                                       CARLOS ANGEL
4      A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C
...                                              ...
49995                            LUIS/SANDY NAKASONE
49996                                     O C MORRIS
49997                               ELEKTRASHOCK INC
49998                              LEONARD J KESSLER
49999                                    MILES CLUBB

      :@computed_region_2dna_qi2s   naics  \
0                              19  721310
1                             NaN  561500
2                              45  721310
3                              76  561300
4                             NaN  611000
...                           ...     ...
49995                          19  531100
49996                         NaN  235210
49997                          30  424990
49998                          62  452000
49999                          44  233220

                               primary_naics_description  \
0                              Rooming & boarding houses
1              Travel arrangement & reservation services
2                              Rooming & boarding houses
3                                    Employment services
4      Educational services (including schools, colle...
...                                                  ...
49995  Lessors of real estate (including mini warehou...
49996  Painting and Wall Covering Contractors (1997 N...
49997               Other miscellaneous nondurable goods
49998                         General merchandise stores
49999      Multifamily Housing Construction (1997 NAICS)

              location_description  ...                  street_address  \
0         1727 CRENSHAW 90019-6037  ...              1727 CRENSHAW BLVD
1        521 SWARTHMORE 90272-4350  ...           521 SWARTHMORE AVENUE
2           9911 AVALON 90003-4805  ...                9911 AVALON BLVD
3              1221 7TH 90017-2394  ...  1221 W 7TH STREET SUITE #N-111
4         4917 BROADWAY 90037-3211  ...                 4917 S BROADWAY
...                            ...  ...                             ...
49995       3429 VENICE 90019-6116  ...                3429 VENICE BLVD
49996     1057 IMPERIAL 90044-1339  ...         1057 W IMPERIAL HIGHWAY
49997         1320 MAIN 90291-3716  ...                1320 MAIN STREET
49998  15522 HIGH KNOLL 91436-3419  ...         15522   HIGH KNOLL ROAD
49999        8381 FAUST 91304-3328  ...               8381 FAUST AVENUE

           location_start_date   location_account council_district  \
0      1991-05-15T00:00:00.000  0000000108-0001-3               10
1      1990-01-01T00:00:00.000  0000000115-0001-3               11
2      1999-01-01T00:00:00.000  0000000121-0001-9                8
3      1999-07-01T00:00:00.000  0000000132-0001-7                1
4      1991-01-01T00:00:00.000  0000000133-0001-1                9
...                        ...                ...              ...
49995  1982-07-12T00:00:00.000  0000405858-0001-7               10
49996  1982-07-12T00:00:00.000  0000405865-0001-7                0
49997  1996-10-31T00:00:00.000  0000405906-0001-8               11
49998  2017-09-01T00:00:00.000  0000405978-0002-1                5
49999  2016-10-01T00:00:00.000  0000406014-0001-6               12

                                              location_1       mailing_city  \
0      {'latitude': '34.0425', 'needs_recoding': Fals...                NaN
1                                                    NaN  PACIFIC PALISADES
2      {'latitude': '33.9463', 'needs_recoding': Fals...        LOS ANGELES
3      {'latitude': '34.0521', 'human_address': '{"ad...                NaN
4      {'latitude': '33.9981', 'needs_recoding': Fals...        LOS ANGELES
...                                                  ...                ...
49995  {'latitude': '34.0435', 'needs_recoding': Fals...                NaN
49996  {'latitude': '33.9309', 'needs_recoding': Fals...                NaN
49997  {'latitude': '33.9899', 'needs_recoding': Fals...                NaN
49998  {'latitude': '34.1461', 'needs_recoding': Fals...                NaN
49999  {'latitude': '34.2218', 'needs_recoding': Fals...                NaN

      mailing_zip_code        mailing_address :@computed_region_ur2y_g4cx  \
0                  NaN                    NaN                         NaN
1           90272-4350  521 SWARTHMORE AVENUE                         NaN
2           90003-4804      448 E 99TH STREET                           7
3                  NaN                    NaN                          54
4           90007-2129   2607 VAN BUREN PLACE                           7
...                ...                    ...                         ...
49995              NaN                    NaN                         NaN
49996              NaN                    NaN                         NaN
49997              NaN                    NaN                          10
49998              NaN                    NaN                         NaN
49999              NaN                    NaN                         NaN

                                 dba_name
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
49995                         LOUS GARAGE
49996  DYNAMIC EXTERMINATORS CONSTRUCTION
49997                                 NaN
49998                                 NaN
49999             MILES CLUBB CONTRACTING

[50000 rows x 21 columns]>

In [8]:
nonprofits.head(20)

,zip_code,:@computed_region_qz3q_ghft,:@computed_region_k96s_3jcv,city,:@computed_region_kqwf_mjcx,business_name,:@computed_region_2dna_qi2s,naics,primary_naics_description,location_description,...,street_address,location_start_date,location_account,council_district,location_1,mailing_city,mailing_zip_code,mailing_address,:@computed_region_ur2y_g4cx,dba_name
0,90019-6037,23080,648,LOS ANGELES,12,PALACE OF VENICE GUEST HOME /C,19,721310,Rooming & boarding houses,1727 CRENSHAW 90019-6037,...,1727 CRENSHAW BLVD,1991-05-15T00:00:00.000,0000000108-0001-3,10,"{'latitude': '34.0425', 'needs_recoding': Fals...",NaN,NaN,NaN,NaN,NaN
1,90272-4350,NaN,NaN,PACIFIC PALISADES,NaN,VINCENZO LABELLA,NaN,561500,Travel arrangement & reservation services,521 SWARTHMORE 90272-4350,...,521 SWARTHMORE AVENUE,1990-01-01T00:00:00.000,0000000115-0001-3,11,NaN,PACIFIC PALISADES,90272-4350,521 SWARTHMORE AVENUE,NaN,NaN
2,90003-4805,22351,806,LOS ANGELES,14,WILCARE ECONOMIC DEVELOPMENT CORPORATION,45,721310,Rooming & boarding houses,9911 AVALON 90003-4805,...,9911 AVALON BLVD,1999-01-01T00:00:00.000,0000000121-0001-9,8,"{'latitude': '33.9463', 'needs_recoding': Fals...",LOS ANGELES,90003-4804,448 E 99TH STREET,7,NaN
3,90017-2394,23078,564,LOS ANGELES,11,CARLOS ANGEL,76,561300,Employment services,1221 7TH 90017-2394,...,1221 W 7TH STREET SUITE #N-111,1999-07-01T00:00:00.000,0000000132-0001-7,1,"{'latitude': '34.0521', 'human_address': '{""ad...",NaN,NaN,NaN,54,NaN
4,90037-3211,23668,737,LOS ANGELES,13,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,611000,"Educational services (including schools, colle...",4917 BROADWAY 90037-3211,...,4917 S BROADWAY,1991-01-01T00:00:00.000,0000000133-0001-1,9,"{'latitude': '33.9981', 'needs_recoding': Fals...",LOS ANGELES,90007-2129,2607 VAN BUREN PLACE,7,NaN
5,90017-1705,23078,564,LOS ANGELES,11,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,68,611000,"Educational services (including schools, colle...",1330 WILSHIRE 90017-1705,...,1330 WILSHIRE BLVD #208,1991-01-01T00:00:00.000,0000000141-0001-6,1,"{'latitude': '34.0543', 'needs_recoding': Fals...",LOS ANGELES,90007-2129,2607 VAN BUREN PLACE,54,NaN
6,92337-7268,19221,NaN,FONTANA,NaN,DIAMOND PERFORATED METALS INC,NaN,423500,Metal & mineral (except petroleum),11093 BEECH 92337-7268,...,11093 BEECH AVENUE,1974-07-01T00:00:00.000,0000000143-0001-5,0,"{'latitude': '34.0526', 'needs_recoding': Fals...",VISALIA,93291-9605,7300 W SUNNYVIEW AVENUE,NaN,NaN
7,90026-4913,NaN,NaN,LOS ANGELES,NaN,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,611000,"Educational services (including schools, colle...",2015 TEMPLE 90026-4913,...,2015 W TEMPLE STREET,1991-01-01T00:00:00.000,0000000150-0001-5,13,NaN,LOS ANGELES,90007-2129,2607 VAN BUREN PLACE,NaN,NaN
8,90015-3828,NaN,NaN,LOS ANGELES,NaN,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,NaN,523900,Other financial investment activities (includi...,1605 OLYMPIC 90015-3828,...,1605 W OLYMPIC BLVD #9023,1999-02-01T00:00:00.000,0000000156-0001-2,1,NaN,NaN,NaN,NaN,NaN,MONEY MANAGEMENT INTERNATIONAL
9,91311-1342,4284,88,CHATSWORTH,2,KIMBERLY FREESH,43,611000,"Educational services (including schools, colle...",10926 OWENSMOUTH 91311-1342,...,10926 OWENSMOUTH AVENUE,2000-12-01T00:00:00.000,0000000168-0001-5,12,"{'latitude': '34.2685', 'needs_recoding': Fals...",NaN,NaN,NaN,NaN,NaN
10,90033-2904,23450,522,LOS ANGELES,9,EAST LA COMMUNITY CORP,38,531100,Lessors of real estate (including mini warehou...,121 CHICAGO 90033-2904,...,121 N CHICAGO STREET,1995-06-05T00:00:00.000,0000000171-0001-7,14,"{'latitude': '34.0447', 'needs_recoding': Fals...",LOS ANGELES,90033-3817,530 S BOYLE AVENUE,NaN,NaN
11,90033-2932,23450,519,LOS ANGELES,9,EAST LA COMMUNITY CORP,38,531100,Lessors of real estate (including mini warehou...,115 SOTO 90033-2932,...,115 N SOTO STREET,2007-01-26T00:00:00.000,0000000171-0002-5,14,"{'latitude': '34.0441', 'needs_recoding': Fals...",LOS ANGELES,90033-3817,530 S BOYLE AVENUE,NaN,NaN
12,90018-2650,23079,679,LOS ANGELES,14,FAME GOOD SHEPHERD CENTER HOUSING DEVELOPMENT ...,32,531100,Lessors of real estate (including mini warehou...,2420 WESTERN 90018-2650,...,2420 S WESTERN AVENUE,1991-04-01T00:00:00.000,0000000176-0001-0,8,"{'latitude': '34.0333', 'needs_recoding': Fals...",LOS ANGELES,90018-2142,2270 S HARVARD BLVD,7,NaN
13,90027-3302,23445,464,LOS ANGELES,7,HERITAGE AND TRADITION INC,3,NaN,NaN,3756 ALOHA 90027-3302,...,3756 ALOHA STREET,2005-01-18T00:00:00.000,0000000182-0002-3,4,"{'latitude': '34.1059', 'needs_recoding': Fals...",NaN,NaN,NaN,NaN,NaN
14,91324-5513,18513,107,NORTHRIDGE,2,STEPHEN J POTHIER DDS INC,87,621111,Offices of physicians (except mental health sp...,9720 RESEDA 91324-5513,...,9720 RESEDA BLVD #2,1974-08-01T00:00:00.000,0000000195-0001-2,12,"{'latitude': '34.2467', 'needs_recoding': Fals...",NaN,NaN,NaN,NaN,NaN
15,90025-2587,23443,866,LOS ANGELES,10,DAVID OVED,50,561300,Employment services,12304 SANTA MONICA 90025-2587,...,12304 SANTA MONICA BLVD #209,NaN,0000000201-0001-0,11,"{'latitude': '34.0395', 'needs_recoding': Fals...",NaN,NaN,NaN,9,NaN
16,90008-4559,22725,749,LOS ANGELES,12,EMPLOYMENT/JOB-SEEKERS INC,54,561300,Employment services,4205 10TH 90008-4559,...,4205 10TH AVENUE #4,1998-07-21T00:00:00.000,0000000208-0001-1,10,"{'latitude': '34.0082', 'needs_recoding': Fals...",NaN,NaN,NaN,7,NaN
17,91606-1910,8889,177,NORTH HOLLYWOOD,5,HENRY ZAMORA,13,531100,Lessors of real estate (including mini warehou...,6730 TUJUNGA 91606-1910,...,6730 TUJUNGA AVENUE,1997-05-01T00:00:00.000,0000000212-0002-6,2,"{'latitude': '34.1932', 'needs_recoding': Fals...",BURBANK,91504-2942,400 ETON DRIVE,NaN,NaN
18,90042-3403,NaN,NaN,LOS ANGELES,NaN,HIGHLAND PARK GUEST HOME INC,NaN,721310,Rooming & boarding houses,345 AVENUE 57 90042-3403,...,345 N AVENUE 57,1973-03-01T00:00:00.000,0000000223-0001-6,1,NaN,LOS ANGELES,90050-0950,POST OFFICE BOX #50950,NaN,HIGHLAND PARK GST. HM INC | HIGHLAND PARK GUES...
19,90042-3404,23673,370,LOS ANGELES,11,HIGHLAND PARK GUEST HOME INC,93,721310,Rooming & boarding houses,346 AVENUE 57 90042-3404,...,346 N AVENUE 57,2010-01-01T00:00:00.000,0000000223-0002-4,1,"{'latitude': '34.1126', 'needs_recoding': Fals...",LOS ANGELES,90050-0950,POST OFFICE BOX #50950,NaN,NaN

In [ ]:
#print(nonprofits.columns) 
   
#nonprofits.rename(columns = {'zip_code':'Zip_Code', ':@computed_region_qz3q_ghft':'ODI', 
                              't20':'T20'}, inplace = True)

In [7]:
# drop the unmapped rows
# nonprofits.drop(nonprofits[computed_region_2dna_qi2s==0].index,inplace=True)

NameError: name 'computed_region_2dna_qi2s' is not defined

In [2]:
#Based off the information above, I found it not worth it go through and rename everything
#Instead I am going to clean up the data in excel and re-upload it as a csv rather then using the portal
df = pd.read_csv('input/Nonprofits.csv')
print(df)

       LOCATION ACCOUNT #                                      BUSINESS NAME  \
0       0000000115-0001-3                                   VINCENZO LABELLA
1       0002759676-0001-5                              ABNER OROZCO VALENCIA
2       0000000150-0001-5      A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C
3       0000000156-0001-2  SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT
4       0002842614-0001-2                                     AUSTIN B CREEK
...                   ...                                                ...
543589  0003232900-0001-1                                           LATO LLC
543590  0003236956-0001-5                                      VSAGLOBAL INC
543591  0003233691-0001-1                                  SUSANA C. BICALDO
543592  0000063696-0001-8                                  FAMILY FIRST CORP
543593  0000314940-0001-9                       WALTER E BRACKELMANNS MD INC

                              DBA NAME              STREET ADDRESS  \
0                                  NaN       521 SWARTHMORE AVENUE
1                                  NaN        4057 EAGLE ROCK BLVD
2                                  NaN        2015 W TEMPLE STREET
3       MONEY MANAGEMENT INTERNATIONAL   1605 W OLYMPIC BLVD #9023
4                                  NaN        3610 W MAGNOLIA BLVD
...                                ...                         ...
543589                             NaN  322 N GARDNER STREET   APT
543590                             NaN       11231 CASHMERE STREET
543591                             NaN        5361   CANDACE PLACE
543592                             NaN       7831 DUNBARTON AVENUE
543593                             NaN     15639   WOODFIELD PLACE

                     CITY    ZIP CODE MAILING ZIP CODE     NAICS  \
0       PACIFIC PALISADES  90272-4350       90272-4350  561500.0
1             LOS ANGELES  90065-3607       90065-3607  811110.0
2             LOS ANGELES  90026-4913       90007-2129  611000.0
3             LOS ANGELES  90015-3828              NaN  523900.0
4                 BURBANK  91505-2913              NaN  711510.0
...                   ...         ...              ...       ...
543589        LOS ANGELES  90036-5714       90036-5714       NaN
543590        LOS ANGELES  90049-3502              NaN  488000.0
543591        LOS ANGELES  90041-1534       90041-1534  621610.0
543592        LOS ANGELES  90045-1031       90045-1031  811490.0
543593       SHERMAN OAKS  91403-4236              NaN       NaN

                                PRIMARY NAICS DESCRIPTION  COUNCIL DISTRICT  \
0               Travel arrangement & reservation services                11
1       Automotive mechanical & electrical repair & ma...                14
2       Educational services (including schools, colle...                13
3       Other financial investment activities (includi...                 1
4              Independent artists, writers, & performers                 0
...                                                   ...               ...
543589                                                NaN                 5
543590  Support activities for transportation (includi...                 5
543591                          Home health care services                14
543592  Other personal &  household goods repair & mai...                11
543593                                                NaN                 5

                    LOCATION
0                        NaN
1       (34.1207, -118.2277)
2                        NaN
3                        NaN
4        (34.168, -118.3463)
...                      ...
543589  (34.0769, -118.3531)
543590  (34.0677, -118.4589)
543591  (34.1441, -118.1927)
543592    (33.97, -118.4095)
543593                   NaN

[543594 rows x 11 columns]

In [3]:
#This is a bit cleaner and it hasn't changed the names as much as when we were pulling it from the web
#there still needs to be a bit more cleaning done
#I will also need to change the data
df.shape

(543594, 11)

In [4]:
df.head(10)

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION
0,0000000115-0001-3,VINCENZO LABELLA,NaN,521 SWARTHMORE AVENUE,PACIFIC PALISADES,90272-4350,90272-4350,561500.0,Travel arrangement & reservation services,11,NaN
1,0002759676-0001-5,ABNER OROZCO VALENCIA,NaN,4057 EAGLE ROCK BLVD,LOS ANGELES,90065-3607,90065-3607,811110.0,Automotive mechanical & electrical repair & ma...,14,"(34.1207, -118.2277)"
2,0000000150-0001-5,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,2015 W TEMPLE STREET,LOS ANGELES,90026-4913,90007-2129,611000.0,"Educational services (including schools, colle...",13,NaN
3,0000000156-0001-2,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,MONEY MANAGEMENT INTERNATIONAL,1605 W OLYMPIC BLVD #9023,LOS ANGELES,90015-3828,NaN,523900.0,Other financial investment activities (includi...,1,NaN
4,0002842614-0001-2,AUSTIN B CREEK,NaN,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,NaN,711510.0,"Independent artists, writers, & performers",0,"(34.168, -118.3463)"
5,0002188355-0001-8,VENANCIO MARTINEZ,NaN,11936 HART STREET,NORTH HOLLYWOOD,91605-5719,NaN,NaN,NaN,2,"(34.1975, -118.3932)"
6,0002728984-0001-8,MARIA ALVAREZ,NaN,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,NaN,561720.0,Janitorial services,6,"(34.2447, -118.4476)"
7,0000443972-0001-6,CHLK AND HENRY KIM CPA,NaN,3435 WILSHIRE BLVD #1080,LOS ANGELES,90010-1914,NaN,NaN,NaN,10,"(34.0617, -118.2985)"
8,0000774650-0001-8,GARY JOSEPH PENN,GARY PENN PHD,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,NaN,621399.0,Offices of all other miscellaneous health prac...,11,"(34.0528, -118.4699)"
9,0002858476-0001-7,ARTOUR POGOSSIAN,MARGARITA FINE JEWELRY,608 S BROADWAY UNIT #E10,LOS ANGELES,90014-1822,NaN,448310.0,Jewelry stores,14,"(34.0464, -118.2521)"

In [5]:
df.dropna(axis=0,how='any',thresh=None, subset=None, inplace=True)

In [6]:
df = df.reset_index(drop=True)

In [7]:
df_mini = df.drop(['DBA NAME','LOCATION ACCOUNT #','STREET ADDRESS','MAILING ZIP CODE', 'COUNCIL DISTRICT'], 
                                     axis=1)

In [8]:
print(df_mini)

                                           BUSINESS NAME           CITY  \
0                                    MATTHEW JOSEPH LIAN    LOS ANGELES
1      KIM, JONG, HAHN, HONG, AND HAN, A PROFESSIONAL...    LOS ANGELES
2                                        SHAKE VARDANIAN     NORTHRIDGE
3                   KESTER & QUEEN COLLISSION CENTER INC       VAN NUYS
4                               JULIETA A SORIANO-ARAGON    LOS ANGELES
...                                                  ...            ...
77587                                  PIZZA DE CAL INC.    LOS ANGELES
77588                              VENUS DEVELOPMENT LLC       GLENDALE
77589                                   CLAUD A SINCLAIR    LOS ANGELES
77590                                       KEVIN MACKEY  SANTA CLARITA
77591                                       IRENE ACOSTA    LOS ANGELES

         ZIP CODE     NAICS  \
0      90024-5010  512100.0
1      90010-3001  621210.0
2      91325-1008  454390.0
3      91411-2125  811110.0
4      90015-1714  448150.0
...           ...       ...
77587  90001-1776  722211.0
77588  91207-1149  531100.0
77589  90019-5100  523900.0
77590  91387-2115  235110.0
77591  90019-4062  541400.0

                               PRIMARY NAICS DESCRIPTION              LOCATION
0      Motion picture & video industries (except vide...  (34.0581, -118.4337)
1                                    Offices of dentists  (34.0616, -118.3066)
2      Other direct selling establishments (including...  (34.2572, -118.5354)
3      Automotive mechanical & electrical repair & ma...  (34.1811, -118.4574)
4                            Clothing accessories stores  (34.0377, -118.2559)
...                                                  ...                   ...
77587                      Limited-service eating places  (33.9822, -118.2499)
77588  Lessors of real estate (including mini warehou...  (34.1757, -118.2391)
77589  Other financial investment activities (includi...  (34.0429, -118.3622)
77590  Plumbing, Heating, and Air-Conditioning Contra...  (34.4248, -118.4181)
77591  Specialized design services (including interio...   (34.048, -118.3536)

[77592 rows x 6 columns]

In [9]:
#df_mini = df_mini.groupby(['BUSINESS NAME']).mean()
#df_mini = df_mini.reset_index(drop=False)
#df_mini.head()
df_mini['Latitude'] = ""
df_mini['Longitude'] = ""
df_mini.head()

,BUSINESS NAME,CITY,ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,LOCATION,Latitude,Longitude
0,MATTHEW JOSEPH LIAN,LOS ANGELES,90024-5010,512100.0,Motion picture & video industries (except vide...,"(34.0581, -118.4337)",,
1,"KIM, JONG, HAHN, HONG, AND HAN, A PROFESSIONAL...",LOS ANGELES,90010-3001,621210.0,Offices of dentists,"(34.0616, -118.3066)",,
2,SHAKE VARDANIAN,NORTHRIDGE,91325-1008,454390.0,Other direct selling establishments (including...,"(34.2572, -118.5354)",,
3,KESTER & QUEEN COLLISSION CENTER INC,VAN NUYS,91411-2125,811110.0,Automotive mechanical & electrical repair & ma...,"(34.1811, -118.4574)",,
4,JULIETA A SORIANO-ARAGON,LOS ANGELES,90015-1714,448150.0,Clothing accessories stores,"(34.0377, -118.2559)",,

In [10]:
Latitude = []
Longitude = []

In [11]:
# For each row in a varible,
for row in df_mini['LOCATION']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        Latitude.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        Longitude.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        Latitude.append(np.NaN)
        # append a missing value to lon
        Longitude.append(np.NaN)

# Create two new columns from lat and lon
df['Latitude'] = Latitude
df['Longitude'] = Longitude

In [12]:
df_mini.head()

,BUSINESS NAME,CITY,ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,LOCATION,Latitude,Longitude
0,MATTHEW JOSEPH LIAN,LOS ANGELES,90024-5010,512100.0,Motion picture & video industries (except vide...,"(34.0581, -118.4337)",,
1,"KIM, JONG, HAHN, HONG, AND HAN, A PROFESSIONAL...",LOS ANGELES,90010-3001,621210.0,Offices of dentists,"(34.0616, -118.3066)",,
2,SHAKE VARDANIAN,NORTHRIDGE,91325-1008,454390.0,Other direct selling establishments (including...,"(34.2572, -118.5354)",,
3,KESTER & QUEEN COLLISSION CENTER INC,VAN NUYS,91411-2125,811110.0,Automotive mechanical & electrical repair & ma...,"(34.1811, -118.4574)",,
4,JULIETA A SORIANO-ARAGON,LOS ANGELES,90015-1714,448150.0,Clothing accessories stores,"(34.0377, -118.2559)",,

In [13]:
# convert lat/lon to floats
df_mini.Longitude = df_mini.Longitude.astype('float')
df_mini.Latitude = df_mini.Latitude.astype('float')

ValueError: could not convert string to float: ''

In [14]:
import plotly.express as px

In [16]:
# ok, group by city and NAICS, and let's get a count for each
nonprofits_by_type=df_mini.groupby(['CITY','NAICS']).size().reset_index(name='count')

In [18]:
# make a stacked bar chart
fig = px.bar(nonprofits_by_type,
           x='CITY',
           y='count',
           color='PRIMARY NAICS DESCRIPTION', # this creates the "stack",
           labels={'CITY':'City in Los Angeles','NAICS':'Number of Nonprofits','PRIMARY NAICS DESCRIPTION':'Type of Industry'},
           title = 'Nonprofits in LA'
      )
fig.show()

ValueError: Value of 'color' is not the name of a column in 'data_frame'. Expected one of ['CITY', 'NAICS', 'count'] but received: PRIMARY NAICS DESCRIPTION

In [8]:
import folium
from folium.plugins import MarkerCluster

In [10]:
# create a list of lat/lon pair for UCLA
ucla = [34.0721237,-118.4440685]
m = folium.Map(location=ucla, zoom_start=10)

marker_cluster = MarkerCluster().add_to(m)

for index,row in df.iterrows():
    folium.Marker(
        location=[row.LAT,row.LON],
        popup=row.NAICS,
        icon=folium.Icon(color="red", icon="ok-sign"),
    ).add_to(marker_cluster)

ValueError: Location values cannot contain NaNs.